.iconsOrder{

    justify-content: space-between;
    
    width: 25%;
    
    margin: auto;
    
    margin-top: 4em;
    
    }
    
    .categoryOrder{
    
    border: 2px solid goldenrod;
    
    background-color: white;
    
    width:7em;
    
    height: 6em;
    
    color: goldenrod;
    
    border-radius: .5em;
    
    }
    
    .categoryOrder:hover{
    
    color: goldenrod;
    
    }
    
    .iconOrder1{
    
    margin: -.06em .46em;
    
    font-size: 3.5em;
    
    }
    
    .iconOrder2{
    
    margin: -.1em .44em;
    
    font-size: 3.7em;
    
    }
    
    .iconOrder3{
    
    margin: 0.1em .65em;
    
    font-size: 3.1em;
    
    }